body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.8;
	font-weight: 400;
	text-shadow:rgba(0,0,0,.01) 0 0 1px;
}
.error{
	text-align: center;
	color: #ff063a;
	font-size: 20px;
}
a
{
	color: #00f;
}

a:hover
{
	color: #f00;
}
.active{
	color: #ff0000;
}
textarea
{
	width: 100%;
	height: 300px;
}

.autor, .date{
	font-size: 20px;
}
.autor{
	margin-top: 20px;
}
.blog_posts .content{
	margin: 10px 0;
}
.login_page{
	margin: 250px auto 100px;
	max-width: 500px;
}
.achievement, section.about, section.quote, footer, .search_page{
	padding: 100px 50px;
}

header{
	display: flex;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	background: #190a49;
	position: fixed;
	z-index: 9999;
	width: 100%;
	top: 30px;
}
.logo{
	max-width: 65px;
}
.logo img{
	width: 100%;
}
header nav menu{
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin-left: 20px;
}
header nav menu li{
	list-style: none;
}
header nav menu li a{
	display: block;
	padding: 15px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

/* slider */
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 100%;
}
.slide_wrap{
	width: 100%;
	height: 100%;
}
.slider{
	height: 100vh;
	overflow: hidden;
}
.slide{
	height: 100%;
	position: relative;
}
.slide .img{
	height: 100%;
	background: rgba(0,0,0,.7);
}
.slide__text{
	position: absolute;
	top: 50%;
	left: 20px;
	box-sizing: border-box;
	color: #fff;
	font-size: 90px;
	font-weight: 300px;
	text-transform: uppercase;
	max-width: 600px;
}
.slide__text span{
	font-weight: bold;
}
/* slider */

/* archievements */
.achievements{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	width: 100%;
}
.achievement{
	max-width: 30%;
	color: #fff;
}
.achievement--dark{
	background: #190a49;
}
.achievement--blue{
	background: #3c098d;
}
.achievement--red{
	background: #ff0e3b;
}
.achievement_img{
	max-width: 50px;
	margin: 0 auto;
}
.achievement_img img{
	width: 100%;
}
.achievement_title{
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.2em;
}
.achievement_desc{
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	line-height: 2.145;
}
/* archievements */

/* about */
.about{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.about_left{
	flex-grow: 2;
}

.about_left .about_left__subtitle{
	font-size: 14px;
	font-weight: 700;
	color: #909090;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 1.2;
}
.about_left .about_left__title{
	font-family: 'Open Sans', sans-serif;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	margin-bottom: 0;
	color: #2c2c2c;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 25px;
    margin: 20px 0;
}
.about_left .about_left__desc{
	max-width: 520px;
	font-size: 14px;
	line-height: 2.145;
	font-weight: 400;
	color: #909090;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.about_right{
	flex-grow: 1;
}
.about_right .about_img{
	max-width: 300px;
}
.about_right .about_img img{
	width: 100%;
}

/* about */

/* quote */
.quote{
	border-top: 1px solid #eee;
	text-align: center;
}
.quote__text{
	font-size: 36px;
	font-weight: 600;
	font-style: italic;
	color: #2c2c2c;
	line-height: 1.4444;
	max-width: 950px;
	margin: 0 auto;
}
.quote__author{
	font-size: 18px;
	font-weight: 700;
	color: #2c2c2c;
	margin-top: 42px;
}
/* quote */

/* footer */
	footer{
		background: #190a49;
	}
	footer .logo{
		max-width: 65px;
		margin: 0 auto;
	}
	footer .logo img{
		width: 100%;
	}
	footer .footer__blocks{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 40px;
	}
	footer .footer__blocks .block{
		width: 300px;
		text-align: center;
	}
	footer .footer__blocks .block .block__icon{
		width: 120px;
		height: 120px;
		margin: 0 auto;
		background: #0f0432;
		border-radius: 50%;
		line-height: 160px;
	}
	footer .footer__blocks .block .block__icon img{
		width: 65px;
	}
	footer .footer__blocks .block .block__title,
	footer .footer__blocks .block .block__value{
		margin-top: 33px;
		font-size: 16px;
		font-weight: 700;
		color: #ffffff;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		line-height: 1.2;
	}
	footer .footer__blocks .block .block__value{
		color: rgba(255,255,255,0.38);
		font-size: 14px;
	}
/* footer */


/* contact_page */

.content_block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.content_block .list{
    list-style: none;
}
.content_block .list li{
	margin-bottom: 20px;
}
.content_block__left__text{
	max-width: 320px;
	font-size: 14px;
	line-height: 2.145;
	font-weight: 400;
	color: #909090;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
.about_right{
	padding-right: 50px;
}
.about_right .map{
	max-width: 450px;
	overflow: hidden;
}

.form form input[type=text], 
.form form input[type=email] {
	box-sizing: border-box;
	width: 150px;
	padding: 10px 20px;
	border: none;
	background: #eee;
	font-size: 18px;
	margin-right: 15px;
	font-style: italic;
}
.form form textarea{
	max-width: 500px;
	height: 300px;
	padding: 10px 20px;
	border: none;
	background: #eee;
	font-size: 18px;
	margin: 15px 0;
	font-style: italic;
	box-sizing: border-box;
}
.form form input[type=submit]{
	display: block;
	box-sizing: border-box;
	width: 280px;
	padding: 25px;
	border: none;
	background: #ff0e3b;
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
	cursor: pointer;
}
/* contact_page */

/* blog */

	.blog{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.posts_wrap{
		max-width: 800px;
	}
	.article_block__content{
		min-width: 600px;
	}
	
	.posts{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}
	.blog_post{
		margin: 25px;
		max-width: 320px;
	}
	.blog_post .blog_post_image{
		max-width: 320px;
	}
	.blog_post .blog_post_image img{
		width: 100%;
	}
	.blog_post .blog_post_content .blog_post_title{
		margin: 25px 0 15px;
	}
	.blog_post .blog_post_content .blog_post_title a{
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
		line-height: 1.2;
		color: #2c2c2c;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		text-decoration: none;
	}
	.blog_post .blog_post_content .blog_post_text{
		font-size: 14px;
		line-height: 2.145;
		font-weight: 400;
		color: #909090;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.blog_post_button a{
		text-decoration: none;
		display: block;
		width: 150px;
		padding: 20px;
		background: #eee;
		cursor:pointer;
		text-align: center;
		color: #2c2c2c;
		transition: all .5s;
		font-weight: bold;
		font-size: 19px;
	}
	.blog_post_button a:hover{
		background: #dc3545;
		color: #fff;
	}

	.sidebar{
		margin-top: 25px;
		margin-left: 25px;
		max-width: 350px;
	}
	.sidebar_search_form{
		margin: 25px 0;
	}
	.sidebar .sidebar_search .sidebar_title, .categories .sidebar_title{
	    display: inline-block;
	    font-size: 24px;
	    font-weight: 700;
	    color: #2c2c2c;
		line-height: 1.2;
		padding-bottom: 11px;
		border-bottom: 2px solid #ff0e3b;
	}
	.sidebar_search form input[type=text]{
		box-sizing: border-box;
		padding: 20px;
		background: #eee;
		font-size: 18px;
		border: none;
	}
	.sidebar_search form input[type=submit]{
		width: 65px;
		height: 65px;
		border: none;
		background-color: #ff0e3b;
		color: #fff;
	}

	.categories .sidebar_list ul{
		padding: 0;
	}
	.categories .sidebar_list li{
		list-style: none;
	}
	.categories .sidebar_list a{
		display: block;
		font-size: 14px;
		font-weight: 400;
		color:#909090;
		margin: 10px 0;
		text-decoration: none;
		
	}
	.categories .sidebar_list a:hover{
		text-decoration: underline;
	}
/* blog */

/* article */

.main_image{
	width: 100%;
	height: 70vh;
	overflow: hidden;
}
.main_image img{
	width: 100%;
}
.comments{
	margin-top: 40px;
}
.comment{
	margin: 10px auto 20px;
}
.comment .username{
	font-size: 20px;
	display: flex;
	align-items: center;

}
.comment .points{
	margin-right: 5px;
	color: #190a49;
	font-size: 40px;
}
.comment .date{
	font-size: 15px;
	margin-left: 15px;
}
.comment .message{
	margin-top: 8px;
}
.wrapper_field-input input, .wrapper_field-input textarea {
	border: none;
	background: #eee;
	padding: 20px;
	margin: 15px 0;
	box-sizing: border-box;
}
.wrapper_field-input input[type=submit]{
	cursor: pointer;
	transition: all .5s;
	font-size: 18px;
}
.wrapper_field-input input[type=submit]:hover{
	background: #dc3545;
	color: #fff;
}
.wrapper_field-input, .wrapper_field-select, .wrapper_field-checkbox{
	max-width: 400px;
}
.wrapper_field-checkbox{
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
}
.wrapper_field-textarea{
	display: block;
	width:400px;
	height: 150px;
}
.wrapper_field-checkbox label{
	display: inline-block !important;
	width: auto !important;
	margin-right: 15px;
}
.wrapper_field label, .wrapper_field .form_field, .wrapper_field-select select{
	display: block;
	width: 100%;
}

/* article */

/* search */

.extended_search form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.extended_search form div{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.extended_search form input, .extended_search form select{
	box-sizing: border-box;
	padding: 15px;
	background: #eee;
	margin: 5px;
	border: 1px solid #190a49;
	border-radius: 5px;
	display: block;
}
.extended_search form input[type=submit]{
	cursor: pointer;
	transition: all .5s;
}
.extended_search form input[type=submit]:hover{
	background: #dc3545;
	color: #fff;
}
.extended_search .title{
	font-size: 35px;
	text-align: center;
	margin-bottom: 20px;
}



/* search */

.error_404{
	font-size: 100px;
	text-align: center;
	text-transform: uppercase;
	
}

/* login */

.login_page{
	margin-top: 35vh;
}
.login_page form{
	max-width: 400px;
	margin: 0 auto;
}
.login_page form input{
	display: block;
	width: 300px;
	box-sizing: border-box;
	border: 1px solid #190a49;
	border-radius: 5px;
	padding: 15px;
	margin: 10px auto;
	background: #eee;
	transition: all .5s;
}
.login_page form input[type=submit]{
	cursor: pointer;
}
.login_page form input[type=submit]:hover{
	background: #dc3545;
	color: #fff;
}

/* login */

@media screen and (max-width: 1200px){
	.contacts{
		flex-direction: column;
	}
	.contacts .about_left{
		margin: 0 auto;
	}
	.content_block__left__text{
		max-width: 500px;
	}
	.contacts .map{
		max-width: 720px;
		height: 400px;
		margin: 25px auto;
	}
	.posts_wrap{
		max-width: 600px;
	}
	.blog_post{
		max-width: 250px;
	}
}
@media screen and (max-width: 1000px){
	.article_block__content{
		max-width: 500px;
	}
	.article_block, .articles_block__content{
	    flex-direction: column-reverse!important;
	    justify-content: center;
	}
	.article_block__content, .posts_wrap{
		margin: 20px auto;
	}
	.sidebar_article, .sidebar{
		margin: 25px auto;
	}
	.about{
		flex-direction: column;
	}
	.about_left{
		text-align: center;
	}
	.about_right, .about_right .about_img,.about_left__desc{
		margin: 25px auto;
		padding: 0;
	}
}
@media screen and (max-width: 800px){
	.achievements{
		flex-direction: column;
	}
	.achievement{
		max-width: 100% !important;
	}
	.contacts .map{
		max-width: 600px;
	}
}
@media screen and (max-width: 720px){
	.contacts .map{
		max-width: 450px;
	}
	.contacts .form form textarea{
		max-width: 450px;
	}
}
@media screen and (max-width: 650px){
	.slide__text{
		font-size: 75px;
	}
	.blog{
		flex-direction: column-reverse;
		justify-content: center;
	}
	.posts{
		flex-direction: column;
		justify-content: center;
	}
	.blog_post{
		max-width: 320px;
		margin: 15px auto;
	}
	.sidebar{
	    margin: 25px auto;
	}
	.article_block__content{
		min-width: auto;
	}
}
@media screen and (max-width: 550px){
	.slide__text{
		font-size: 55px;
	}
	.contacts .map{
		max-width: 300px;
	}
	.contacts .form form textarea{
		max-width: 300px;
	}
	.contacts{
		padding: 20px !important;	
	}
	.wrapper_field-input,.wrapper_field-input{
		max-width: 300px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 400px){
	header, header nav menu{
		flex-direction: column;
	}
	.contacts{
		padding: 5px !important;
	}
	.contacts .form form textarea, .contacts .map{
		max-width: 250px;
		margin: 10px auto;
	}
	
}
@media screen and (max-width: 350px){
	.slide__text{
		font-size: 40px;
	}
}